body{

    background-color: rgb(229, 255, 0);
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#header{
background-color: rgb(228, 238, 200);
margin:10px;
height: 100px;
font-size: 100%;
font-family: cursive;
text-align: center;
padding-top: 10px;




}

#nevi{
    background-color:  #654069;
    margin:10px;
    height:30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    
}
#nevi ul{
  padding: 0px;
  margin: 5px;
  list-style-type: none;
  text-align: center;
  word-spacing: 20px;

}
#nevi li{
    display: inline;
    padding: 15px;
    vertical-align: middle;
    
   
}
.imagesidebar{
    width: 200px;
    height: 200px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    float:right;

}
.maindiv{
    background-color:rgba(27,31,34,0.85);
    margin-top: 150px;
    width: 70%;
    height: 500px;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-image: url('image1.jpg');
    

}
#nevi a{
    text-decoration: none;
    padding: 8px,8px,8px,8px;
    color:aliceblue;
    vertical-align: auto;
   
    border-color: black;
    border-radius: 10px;
    transition: 1s;
    
  
}
#nevi a:hover{
    
   
    box-shadow: 2px 2px 10px 2px #15f4ee inset,2px 2px 10px 2px #15f4ee inset,
    2px 2px 10px 2px #15f4ee inset,2px 2px 10px 2px #15f4ee inset;
    text-shadow: 0 0 5px black;

}
#nevi a::before{

    bottom: 0;
    border-radius: 50%,50%,0,0;
    height: 180%;
}
   
.main{
    background-color:  #82a0f3;
    margin-right: 240px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    height:30px
    line-hight:1.5en;
    border-color:black;
    border-style:solid; 
    

}
h1{
   color: #e91768;
   font-size: 200%;
   text-align: center;
    margin-top: 5px;
   
}

p{

 margin-left: 10px;

}
#footer{
    background-color: rgb(228, 238, 200);
    margin:10px;
    height: 100px;
    font-size: 90%;
    text-align: center
    
    
    }
